<!-- 
<figure>
  <figcaption class="nickname">
    <span class='nickname'><%= nickname %>:</span>
    <span class='status'>[<%= state %>]</span>
  </figcaption>
</figure>
<ul>
  <li class="fn"><span><%= nickname %></span></li>
  <li class="tel"><span><%= msisdn %></span></li>
  <li class="email"><span><%= contact_email %></span></li>
  <li class="linkedin"><a href="" title="View Karl Turner's profile on LinkedIn" rel="external">Karl Turner on LinkedIn</a></li>
  <li class="facebook"><a href="" title="View Karl Turner's profile on Facebook" rel="external">Karl Turner on Facebook</a></li>
  <li class="twitter"><a href="" title="View Karl Turner on Twitter" rel="external">Karl Turner</a></li>
</ul>
TODO format msisdn -->
