<article>
  <header>
    <h2 id='conference_name'><%= name %></h2>

    <time>
      <%= start %>
    </time>

  </header>
   <p id='conference_agenda'><%= agenda %></p>
</article>
<aside>
  <p>
    <span class="tel">+<%= conference_number %></span>
    <span class="call-status"><%= status %></span>
  </p>
    <div class="button featured-cta">xxxx</div>
</aside>


