<article>
  <header>
    <h2 id='conference_name' class='editable'><%= name %></h2>
    <time id="conference_date" class='editable'><%= start %></time
  </header>
   <p id='conference_agenda' class='editable'><%= agenda %></p>
</article>
<aside>
  <p>
    <span class="tel">+<%= conference_number %></span>
    <span class="call-status"><%= status %></span>
  </p>
    <div class="button featured-cta">xxxx</div>
</aside>